html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior-y: none;
}

/******

First section project display title

******/

.projectInfo::-webkit-scrollbar,
.scrollbar-track {
  display: none !important;
}

.projectDisplayContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.projectDisplay {
  border-bottom: 0;
}

.projectDisplay {
  z-index: 99999;
}

.nozIndex {
  z-index: 1 !important;
}
.projectDisplayContainer {
  flex-direction: column;
  overflow-y: scroll !important;
  border-bottom: 1px solid var(--lightGrey);
}
.projectDisplayContainer .projectDisplay:last-child {
  padding-right: 0px;
}

.projectDisplayContainer {
  /* overflow-y: scroll !important; */
}

.projectDisplay section {
  width: calc(100vw - 5vmin - 3.5vmax) !important;
  /* background: green; */
  height: calc(95vh - 5vmin - 4.5rem);
  height: 84vh;
}

/** Center elements in first section **/

.projectDisplay section:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectTitle {
  font-size: 16vmin;

  display: inline-block !important;
  font-family: "Romie Regular";
  color: var(--lightGrey);
  line-height: clamp(20px, 15vmin, 102px);
  text-transform: uppercase;
}

.projectTitleContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectTitleContainer .scrollDownContainer {
  position: relative;
  text-decoration: none;
  color: var(--yellow);
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 2vmin;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.rowProjectContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.projectTitleContainer .scrollGlobalContainer {
  /* position: absolute;
  right: 0vmin;
  bottom: 0vmin; */
}

.scrollGlobalContainer {
  display: flex;
  align-self: flex-end;
}
.scrollDownContainer .ctaContainer {
  transition: 0.4s ease;
}
.scrollDownContainer:hover .ctaContainer {
  transform: translateY(-100%);
  transition: 0.4s transform;
}

.scrollDownContainer .childCta {
  position: absolute;
  top: 100%;
}

.projectTitleContainer .scrollDownCta::before {
  margin-top: 2px;
  margin-right: 3px;
  content: url("../assets/images/scrollDownArrow.svg");
}

/******

Second section project display content

******/

.title {
  font-size: 7vmin;
  line-height: 6.5vmin;
  text-transform: initial;
  letter-spacing: -2.5%;
  margin-top: 8vmin;
  position: fixed;
  z-index: 9999;
  margin-left: 15vmin;
  pointer-events: none;
}

.projectFixed {
  display: flex;
}
.projectPageContent .title {
  position: fixed;
}

.centerBlack:nth-child(1) {
  background-color: red;
}

.projectFixed .projectDisplay:nth-child(3) .centerBlack {
  border-left: 2px solid var(--lightGrey);
}

.centerBlack {
  display: flex;
  justify-content: center;
  align-items: center !important;
  background: #141414;
  z-index: 99999;
}

.projectDetailsOne {
  margin-top: 25vmin;
}
.centerBlack .projectDetails {
  padding-right: 0;
}

.projectDetails img {
  width: clamp(150px, 100%, 1100px);
  /* max-height: 620px; */
  object-fit: contain;
  margin: 0px 5vmin;
}

.projectPageContent {
  align-items: flex-start;
  height: calc(95vh - 5vmin - 4.5rem) !important;
  width: 100%;
}

.project .projectImage {
  /* width: 100%; */
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  top: 0px;
  right: 40vmin;
  /* right: auto; */
}

.projectContent,
.projectPageContent {
  position: relative;
}

.projectDisplayRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  will-change: transform;
  height: calc(95vh - 5vmin - 4.5rem) !important;
  /* overflow: hidden; */
}

.projectScroll {
  will-change: transform;
  height: 100%;
  /* height: calc(95vh - 5vmin - 4.5rem) !important; */

  /* overflow: hidden; */
}
.descriptionDetail {
  font-size: 16px;
  color: var(--lightGrey);
  font-family: neue-haas-grotesk-display, sans-serif;
  width: 80%;
  max-width: 350px;
  margin-top: 2.5vmin;
  line-height: 2vmin;
}

.seeWebsite .projectPageContent {
  margin-left: 30vmin;
}

.gsap-marker-scroller-end,
.gsap-marker-scroller-start,
.gsap-marker-start,
.gsap-marker-end {
  display: none !important;
}
