@font-face {
  font-family: "Romie Regular";
  src: url("../assets/fonts/Romie-Regular.woff") format("woff");
}

:root {
  --darkGrey: #1e1e1e;
  --lightGrey: #e5e5e5;
  --yellow: #d7ff39;
  --white: #ffffff;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  cursor: none;
}
body::before {
  content: "";
  position: fixed;
  transform-origin: 100% 0;
  background: var(--yellow);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: scaleX(0);
  z-index: 3;
  transition: transform 0.25s;
}

body.transition::before {
  transform: scaleX(1);
}
.project2 {
  /* background: red; */
}

.projectContent {
  /* background: blue; */
  height: 100%;
  width: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cursorPointer,
.cursorElement {
  /* display: none; */
  /* opacity: 0; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.customCursorFixed {
  width: 15px;
  height: 15px;
  background: var(--yellow);
  border-radius: 50%;
  position: fixed;
  z-index: 3;
}

.cursorElementContainer {
  opacity: 0%;
  transform: scale(1) !important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.show {
  display: block;
}

.customCursor {
  cursor: none;
  height: 100%;
}
.cursorElement {
  /* animation: 15s infiniteRotate infinite; */
  transition: all 0.05s linear;
}
/******

Hide Scrollbar

******/

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.projectDisplayContainer {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/******

Variables 

******/

.title {
  color: var(--lightGrey);
  font-size: 16vmin;
  font-family: "Romie Regular";
  /* line-height: 90px; */
  line-height: 11vmin;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 10vmin;
  display: flex;
  flex-direction: column;
}

.description {
  font-size: 8vmin;
  line-height: 6vmin;
  font-family: "Romie Regular";
  color: var(--lightGrey);
  text-transform: uppercase;
  margin: 0;
  margin-top: 4vmin;
  align-self: center;
  display: flex;
  flex-direction: column;
  /* padding-right: 25vmin; */
}

body {
  cursor: none;
  background: var(--darkGrey);
  padding: 0;
  height: 100%;
  overflow: hidden;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

.navBar {
  max-width: 100vw;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  margin-top: 5vmin;
  /* background: red; */
  border-bottom: 1px solid var(--lightGrey);
  border-top: 1px solid var(--lightGrey);
  position: fixed;
  z-index: 1;
}

.navBar .navBarLogo {
  padding-left: 2vmin;
}

.navBar .navBarItems {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.navBar .navBarItems a {
  font-family: neue-haas-grotesk-display, sans-serif;
  color: var(--lightGrey);
  text-decoration: none;
  /* height: 4.5rem; */
  font-weight: 300;
  font-size: 1.5rem;
  height: 100%;
  border-right: 1px solid var(--lightGrey);
  /* background: blue; */
  line-height: 4.5rem;
  /* margin: 0px 1vmin; */
  cursor: pointer;
  display: inline-block;
}

.menuTarget {
  padding: 0px 2.5vmin;
}

.navBar .navBarItems a:first-child {
  border-left: 1px solid var(--lightGrey);
}

.navBar .navBarItems a:last-child {
  border-right: 0px;
}

.navHrefContainer {
  display: flex;
}

.navHrefContainer span {
  /* width: 10vmin; */
  display: block;
  pointer-events: none;
  text-align: center;
  /* height: 100%; */
}

.menuTarget {
  position: relative;
}
.menuTarget > .navHrefContainer:nth-child(1) span {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.7s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: bottom;
  display: inline-block;
}

.menuTarget > .navHrefContainer:nth-child(2) span {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.4s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: top;
  display: inline-block;
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}

.menuTarget:hover > .navHrefContainer:nth-child(1) span {
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}

.menuTarget:hover > .navHrefContainer:nth-child(2) span {
  transform: translate3d(0, 0%, 0) rotateX(0deg);
}
.linkContainer {
  margin-top: 2vmin;
  position: relative;
}

.rotating {
  position: absolute;
  animation: 15s infiniteRotate linear infinite;
  /* top: 0;
  right: 0; */
}

.linkContainer img:nth-child(1) {
  position: absolute;
  left: 50%;
  top: 3vmin;
}
/* 
.linkContainer:hover img:nth-child(2) {
  animation-name: fastRotate;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
} */

.skewElem {
  transition: 0.15s ease !important;
}
/******

ASSIDE BAR

******/

.translateAsside {
  transform: translateX(3.5vmax);
  transition: 3s ease;
}

.translateAssideTwo {
  transform: translateX(7vmax);
  transition: 3s ease;
}
/* .translateDown {
  transform: translateX(0);
  transition: 3s ease;
} */

.assideBar {
  /* right: clamp(20vmin, 30vmin, 40vmin); */

  width: 3.5vmax;
  /* width: clamp(3.5vmax, 4.5vmax, 3.5vmax); */
  /* min-width: 6vmin; */
  /* max-width: 4vmax; */
  height: calc(95vh - 5vmin - 4.5rem);
  background: var(--darkGrey);
  margin-left: 5vmin;
  position: fixed;
  overflow: hidden;
  bottom: 5vh;
  writing-mode: tb-rl;
  transform: rotate(180deg);
  text-orientation: mixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 1px solid var(--lightGrey);
  border-right: 1px solid var(--lightGrey);
  border-top: 1px solid var(--lightGrey);
  z-index: 1;
}

.assideGlobalContainer {
  display: flex;
  flex-direction: column;
}

.assideBar span {
  color: var(--lightGrey);
  font-size: 1.6rem;
  width: 3.5vmax;
  display: flex;
  align-items: center;
  padding: 1vmin 0px;
  /* padding: 1vmin 1vmax; */
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Romie Regular";
}

.romie {
  font-family: "Romie Regular";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  display: block;
  transform: translate(-50%, -50%);
}

.assideBar span.selected {
  color: var(--yellow);
}

/*******

Projects Sections

********/

.projectDisplayContainer {
  position: fixed;
  /* margin-left: calc(5vmin + 4.5rem);
    padding-top: calc(5vmin + 3.5vmax); */
  top: auto !important;
  left: auto !important;
  bottom: 5vh !important;
  right: 0 !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: calc(100vw - 5vmin - 3.5vmax);
  /* background-color: pink; */
  overflow: hidden;
  height: calc(95vh - 5vmin - 4.5rem);
  /* z-index: -1; */
}
.projectDisplay {
  /* width: 100%; */
  will-change: transform;
  width: calc(100vw - 5vmin - 3.5vmax);
  /* width: 100vw; */
  /* width: calc(100vw - 3.5vmax); */
  /* background-color: pink; */
  /* height: calc(95vh - 5vmin - 4.5rem); */
  /* padding-top: 100px; */
  /* position: fixed; */
  /* margin-left: calc(5vmin + 4.5rem);
  padding-top: calc(5vmin + 3.5vmax); */
  /* bottom: 5vh;
  right: 0; */
  border-bottom: 1px solid var(--lightGrey);
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  /* overflow: scroll; */
}

.projectDisplayContainer .projectDisplay:last-child {
  /* background: red; */
  padding-right: 15vmax;
}

.project {
  width: calc(100vw - 5vmin - 3.5vmax);
  min-width: 30vmin;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* min-height: 80%; */
  align-items: center;
  /* background: yellow; */
  position: relative;
  overflow: hidden;
}

.project h1 {
  z-index: 2;
  text-transform: uppercase;
}
.project .projectImage {
  position: absolute;
  top: 18vmin;
  /* right: 40vmin; */
  right: clamp(20vmin, 30vmin, 40vmin);
  z-index: -1;
  /* width: 80vmin; */
  max-width: 45vmin;
}

.projectDetails {
  display: flex;
  /* flex-direction: row; */
  padding-right: 10vmin;
  /* align-self: flex-start; */
  font-family: neue-haas-grotesk-display, sans-serif;
  color: var(--lightGrey);
}

.detail {
  margin: 0.25rem;
}

.detail a {
  text-decoration: none;
  color: var(--lightGrey);
  font-style: normal;
  font-weight: 300;
}

/* Grid for the projects details */
.projectGrid {
  display: grid;
  margin-top: 8vmin;
  grid-template-columns: repeat(1, 60px 35vmin);
}

.projectGrid .firstDetail {
  /* padding: 0; */
  /* width: 0.25rem; */
  width: 5rem;
  display: inline-block;
  font-weight: 500;
  /* margin-right: 3.5vmin; */
}

.projectGrid span {
  font-weight: 300;
  margin: 0;
}

.projectGrid .italic {
  font-style: italic;
  font-weight: 300;
}

/******

Contact Section 

******/

.contactSection .description {
  padding-left: 20vmax;
}
.contact {
  display: flex;
  align-self: center;
  /* justify-self: center; */
  /* padding-left: 60vmin; */
  text-decoration: none;
}

.myInfo {
  width: 70%;
  /* align-self: flex-end; */
  position: absolute;
  bottom: 2vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: neue-haas-grotesk-display, sans-serif;
}

.myInfo a:hover img {
  transition: 0.3s ease;
  transform: translateY(-3px);
}
.findMe {
  color: var(--lightGrey);
  font-weight: 300;
  margin-right: 4vmin;
}

/* .myInfo .social {
  display: flex;
  flex-direction: row;
} */
.myInfo a {
  text-decoration: none;
  color: var(--lightGrey);
  font-weight: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 1vmin;
}

.myInfo img {
  width: 25px;
  transform: translateY(3px);
}

/********

KEYFRAMES

********/

@keyframes infiniteRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fastRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes translateAsside {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(3.5vmax);
  }
}
